# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Alembic
alembic/versions/__pycache__/

# Logs
*.log

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db